@use '@angular/material' as mat;
@use 'styles/variables' as *;
@use 'styles/reset' as *;
@use 'styles/typography' as *;
@use 'styles/mixins' as *;

html {
  height: 100%;
  color-scheme: dark;

  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  margin: 0;
}

body {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
